------------------------------------------------------
TOMCAT STARTED SUCCESSFULLY
------------------------------------------------------
universal ctags path = /opt/u-ctags/bin/ctags
java path = /opt/java8/bin/java
jsvc path = /opt/tomcat8/bin/jsvc
java home = /opt/java8
tomcat home = /opt/tomcat8
opengrok instance base = /opt/opengrok
opengrok source root = /opt/o-source
http://127.0.0.1:8080/source
------------------------------------------------------
