description "Tomcat Server"

  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn
  respawn limit 10 5

  setuid tomcat
  setgid tomcat

  env JAVA_HOME=/usr/lib/jvm/java-8-self
  env CATALINA_HOME=/opt/tomcat8-self

  # Modify these options as needed
  env JAVA_OPTS="-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"
  env CATALINA_OPTS="-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

  exec /opt/tomcat8-self/bin/catalina.sh run

  # cleanup temp directory after stop
  post-stop script
    rm -rf /opt/tomcat8-self/temp/*
  end script
